################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment3/Migrations/
/Assignment3/Migrations/20210901171709_MovieDB.cs
/Assignment3/Migrations/20210901171709_MovieDB.Designer.cs
/Assignment3/.vs/Assignment3/DesignTimeBuild/.dtbcache.v2
/Assignment3/obj/Debug/net5.0/Assignment3.AssemblyInfo.cs
/Assignment3/obj/Debug/net5.0/Assignment3.AssemblyInfoInputs.cache
/Assignment3/obj/Debug/net5.0/Assignment3.GeneratedMSBuildEditorConfig.editorconfig
/Assignment3/obj/project.nuget.cache
/Assignment3/obj/Debug/net5.0/staticwebassets/Assignment3.StaticWebAssets.xml
/Assignment3/obj/Debug/net5.0/staticwebassets/Assignment3.StaticWebAssets.Manifest.cache
/Assignment3/obj/Debug/net5.0/ref/Assignment3.dll
/Assignment3/obj/Debug/net5.0/Assignment3.xml
/Assignment3/obj/Debug/net5.0/Assignment3.RazorTargetAssemblyInfo.cache
/Assignment3/obj/Debug/net5.0/Assignment3.pdb
/Assignment3/obj/Debug/net5.0/Assignment3.MvcApplicationPartsAssemblyInfo.cache
/Assignment3/obj/Debug/net5.0/Assignment3.genruntimeconfig.cache
/Assignment3/obj/Debug/net5.0/Assignment3.dll
/Assignment3/obj/Debug/net5.0/Assignment3.csproj.CoreCompileInputs.cache
/Assignment3/obj/Debug/net5.0/Assignment3.csproj.CopyComplete
/Assignment3/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
/Assignment3/bin/Debug/net5.0/System.Runtime.Caching.dll
/Assignment3/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/Assignment3/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
/Assignment3/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
/Assignment3/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Assignment3/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Assignment3/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/Assignment3/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/Assignment3/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Assignment3/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/Assignment3/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Assignment3/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/Assignment3/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Assignment3/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/Assignment3/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Assignment3/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Assignment3/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Assignment3/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Assignment3/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Assignment3/bin/Debug/net5.0/ref/Assignment3.dll
/Assignment3/bin/Debug/net5.0/Newtonsoft.Json.dll
/Assignment3/bin/Debug/net5.0/Microsoft.OpenApi.dll
/Assignment3/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/Assignment3/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Assignment3/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/Assignment3/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/Assignment3/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Assignment3/bin/Debug/net5.0/Microsoft.Identity.Client.dll
/Assignment3/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
/Assignment3/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Assignment3/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
/Assignment3/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
/Assignment3/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
/Assignment3/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Assignment3/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
/Assignment3/bin/Debug/net5.0/Humanizer.dll
/Assignment3/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Assignment3/bin/Debug/net5.0/AutoMapper.dll
/Assignment3/bin/Debug/net5.0/Assignment3.xml
/Assignment3/bin/Debug/net5.0/Assignment3.runtimeconfig.json
/Assignment3/bin/Debug/net5.0/Assignment3.runtimeconfig.dev.json
/Assignment3/bin/Debug/net5.0/Assignment3.pdb
/Assignment3/bin/Debug/net5.0/Assignment3.exe
/Assignment3/bin/Debug/net5.0/Assignment3.dll
/Assignment3/bin/Debug/net5.0/Assignment3.deps.json
/Assignment3/bin/Debug/net5.0/appsettings.json
/Assignment3/bin/Debug/net5.0/appsettings.Development.json
