################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment3/Migrations/
/Assignment3/Migrations/20210901171709_MovieDB.cs
/Assignment3/Migrations/20210901171709_MovieDB.Designer.cs
/Assignment3/.vs/Assignment3/DesignTimeBuild/.dtbcache.v2
/Assignment3/obj/Debug/net5.0/Assignment3.AssemblyInfo.cs
/Assignment3/obj/Debug/net5.0/Assignment3.AssemblyInfoInputs.cache
/Assignment3/obj/Debug/net5.0/Assignment3.GeneratedMSBuildEditorConfig.editorconfig
/Assignment3/obj/project.nuget.cache
