################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment3/Migrations/
/Assignment3/Migrations/20210901171709_MovieDB.cs
/Assignment3/Migrations/20210901171709_MovieDB.Designer.cs
/Assignment3/.vs/Assignment3/DesignTimeBuild/.dtbcache.v2
